/* Write your style here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  margin: 2%;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}

li {
  display: inline-block;
  width: 400px;
  margin: 8px;
  padding: 8px;
  list-style-type: none;
}

p {
  margin-bottom: 15px;
  margin-top: 20px;
}
